$bright-green: #04bb16;
$bright-green-hover-color: #09d41d;
$bright-orange: #de5901;
$bright-orange-hover: #FF6600;
$bright-blue: #0022cb;
$bright-blue-hover: #3456ff;
$bright-red: #c70049;
$bright-red-hover: #ff035f;

$dark-gray: #333333;
$medium-gray: #555;
$light-gray: #bbb;
$primary-color: #f9f9f9;
$secondary-color: #f8f8f8;
$input-color: #ccc;
$input-border: #ced4da;
$pure-white: #fff;

$success-color: rgb(15, 125, 15);
$shadow-color: rgba(0, 0, 0, 0.2);
$blue-shadow-color: rgba( 31, 38, 135, 0.37 );
$name-color: #3456ff;
$header-color: #1b262c;
